/* Media */

.card-pen .img-center{
    padding: 38px 0;
}
.card-coffee .img-center{
    padding: 49px 0;
}
.card-glass .img-center{
    padding: 57px 0;
}
.card-phone .img-center{
    padding: 2em 0;
}
.card-notebook .img-center{
    padding: 2em 0;
}


@media screen and (max-width: $lg-desktop-max){
    .card-pen .img-center{
        padding: 38px 0;
    }
    .card-coffee .img-center{
        padding: 51px 0;
    }
    .card-glass .img-center{
        padding: 68px 0;
    }
    .card-phone .img-center{
        padding: 49px 0;
    }
    .card-notebook .img-center{
        padding: 50px 18px;
    }
    .navbar .navbar-nav > li > a{
        padding: 6px 6px;
    }
    .navbar .brand{
        margin-right: 10px;
    }
    .navbar .navbar-nav.navbar-right > li > a{
          margin: 6px 14px;
    }
}


@media screen and (max-width: $desktop-max){
    .card-paper .img-center{
        padding: 38px 0;
    }
    .card-pen .img-center{
        padding: 67px 0;
    }
    .card-pen .card-text{
        margin-top: 0!important;
    }
    .navbar .navbar-nav > li > a{
        padding: 6px 6px;
    }
    .navbar .brand{
        margin-right: 10px;
    }
    .navbar .navbar-nav.navbar-right > li > a{
          margin: 6px 14px;
    }
}

@media screen and (min-width: $mobile){
    
}

@media screen and (max-width: $lg-desktop-max){}

@media screen and (max-width: $desktop-max){
    .checkout-panel{
        display: none!important;
    }
    
    
}

@media screen and (max-width: $desktop-max) and (min-width: $tablet){
    .card-paper .card-text{
        margin-top: 24px;
    }
    .card-pen .card-text{
        margin-top: 35px;
    }
}

@media (max-width:992px){.hero .panel{ padding: 30px 10px !important;} 
                         .hero .panel p{font-size: 1.5rem !important; line-height: 2.4rem !important;}
                         .thumb-holder .price {  font-size: 2.9rem;margin: 0 0 7px;}
                         .thumb-holder .name {font-size: 1.8rem;line-height: 2.3rem;}
                         .thumb_desc {margin-right: 5px!important;}
                         
                          .checkout-panel{
        display: none!important;
    }
                         
                         


}

//MOBILE

@media screen and (max-width: $tablet-max){
    .card {
        text-align: center;
    }
    
    .hero .panel {  margin: 20px 1rem 0;  padding: 35px 10px;}
}



@media screen and (min-width: $tablet){
    
    .navbar-header{
        float: left;
        margin-right: 4em; 
    }
    
    .navbar .brand{
        margin-left: 10px;
    }
    .hero .panel .btn {font-size:16px ; padding: 12px; max-width: 55% !important;}
    body .nav-collapse, body .nav-collapse.collapse{
        height: auto;
        overflow: visible;
    }
    body .navbar .nav > li{
        float: left;
    }
    body .navbar-right{
        float: right !important;
    }

}

@media screen and (max-width: $menu-break){
    
    body{ 
        .hamburger{
            display: block;
             
           
         
        }
        .navbar-header{
            display: inline-block;
            width: 100%;
           
        }
    }
    
    .img-hero {   margin: 0 0 0 10%; }
   
    .hero .panel .btn {font-size:16px ; padding: 12px; max-width: 55% !important;}
    body .navbar .navbar-inner{
        position: relative;
        padding: 0;
     
        position: relative;
    }
    
    body .navbar-collapse,body .navbar-collapse.collapse{
        position: absolute;
        top: 69px;
        height: 290px;
        overflow: auto;
        visibility: hidden;
        right: 0;
        float: right;
        background: #fff;
        z-index: 100;
        padding: 10px 8px;
        opacity: 0;
    }
    
     .hero .panel p { font-size: 1.1em;   line-height: 2.4rem; }

    .navbar-scroll .navbar .navbar-nav {
        top: 0;
        margin: 10px 0 !important;
    }
    .thumb-img {margin-bottom: 15px;} 

    body.menu-open .navbar-collapse,
    body.menu-open .navbar-collapse.collapse{
        opacity: 1;
        visibility: visible;
          border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
    padding: 10px 25px 0 12px;
    }
    .navbar .navbar-nav.navbar-right > li.navbar-search {margin-right: 10px;}
    .sprite-user { float:left}
    .table-update {overflow-x: auto;
		display: block;}
    .lock {width: 15% !important;
  margin-top: 15px;
}
    .entypo-facebook:before{float:left;font-size: 26px;margin-left: 15px;} 
    .nome {font-size:2.3rem;}
    .myFormaEnvio {margin-top:11px;margin-left: -10px;width: 160px;}
    #cep_destinatario {width: 110px!important; }
    #cartaoValidade{width: 110px!important; margin-right:10px;}
    #cartaoCodigoSeguranca {width: 110px!important;}
    .nav-tabs > li {float:none!important}
    .navbar .navbar-nav.navbar-right > li.navbar-social {position: absolute;
  top: 245px;}
    
    .theme-default .btn-default2 {margin-top: 1px!important; width: 100%!important;}
    .entypo-instagrem:before { float:left;font-size: 26px;margin-left: 25px;}
    .thumb-holder .price {  font-size: 2.3rem;font-size:20px;margin: 0 0 7px;}
    .thumb-holder .name {font-size: 6vw;font-size:14px;line-height: 2.3rem;}
    .thumb-holder {padding: 10px 0; top: 0px;left: 0px;right: 0px;bottom: 0px;}
    .form-control,.theme-default .btn, input[type=text], input[type=password], input[type=email] {margin-top: 10px;}
    .product-infos .btn-buy {font-size:2.2rem; font-size: 22px;}
    .escolha {width:110px !important; margin-right: 7px;}
    .comprar-popup h3 {text-align:right;}
    .select2 {margin-top: 11px;}
    .presente {width:38px !important;}
    .txt_presente {font-size: 12px !important;}
    .pull-left {font-size: 12px;}
    .pull-right {margin-top: -25px;}
    .sprite-cart { float:left;   margin: 0px 10px 0 10px} 
    #nav-login {font-size: 14px; float: left;}
    .navbar .navbar-nav.navbar-right > li.navbar-cart .value {  vertical-align: top;float: left;}
    .theme-default .section-title3 > h2  {  font-size: 1.6rem;}
    .auth-form-title {margin: 20px 0 20px;}
    .verificar {font-size:11px !important;}
    .indisponivel {font-size:11px !important;}

    body .navbar-collapse{
        clear: none;

        .nav{
            margin: 5px 0;
        }
    }
}
    
