/* Media */

.card-pen .img-center{
    padding: 38px 0;
}
.card-coffee .img-center{
    padding: 49px 0;
}
.card-glass .img-center{
    padding: 57px 0;
}
.card-phone .img-center{
    padding: 2em 0;
}
.card-notebook .img-center{
    padding: 2em 0;
}


@media screen and (max-width: $lg-desktop-max){
    .card-pen .img-center{
        padding: 38px 0;
    }
    .card-coffee .img-center{
        padding: 51px 0;
    }
    .card-glass .img-center{
        padding: 68px 0;
    }
    .card-phone .img-center{
        padding: 49px 0;
    }
    .card-notebook .img-center{
        padding: 50px 18px;
    }
    .navbar .navbar-nav > li > a{
        padding: 6px 6px;
    }
    .navbar .brand{
        margin-right: 10px;
    }
    .navbar .navbar-nav.navbar-right > li > a{
        margin: 6px 14px;
    }
}


@media screen and (max-width: $desktop-max){
    .card-paper .img-center{
        padding: 38px 0;
    }
    .card-pen .img-center{
        padding: 67px 0;
    }
    .card-pen .card-text{
        margin-top: 0!important;
    }
    .navbar .navbar-nav > li > a{
        padding: 6px 6px;
    }
    .navbar .brand{
        margin-right: 10px;
    }
    .navbar .navbar-nav.navbar-right > li > a{
        margin: 6px 14px;
    }
}

@media screen and (min-width: $mobile){}

@media screen and (max-width: $lg-desktop-max){}

@media screen and (max-width: $desktop-max){
    .checkout-panel{
        display: none!important;
    }


}

@media screen and (max-width: $desktop-max) and (min-width: $tablet){
    .card-paper .card-text{
        margin-top: 24px;
    }
    .card-pen .card-text{
        margin-top: 35px;
    }
}

@media screen and (max-width: $tablet-max){
    .card {
        text-align: center;
    }
}

@media screen and (max-width: $tablet-max){
    .navbar{
        border-top-width: 4px;
        padding: 8px 0;
    }

    .brand {
        img{
            width: 60px;
            height: auto;
        }
    }
}

@media screen and (max-width: $menu-break){
    html{
        font-size: 8px;
    }
    .hamburger{
        display: block;
        @include opacity(1);
    }
    .hero .panel{
        padding: 20px 10px;
        margin: 20px 0 0;
    }
    .hero .panel h2{

    }
    .hero .panel .btn{
        max-width: none !important;
    }
    body{
        padding-top: 76px;
    }

    .footer .list-unstyled{
        margin-bottom: 30px;
    }
    #nome_newsletter_2,
    #email_newsletter_1{
        margin-bottom: 10px;
    }

    .navbar-collapse{
        max-height: 0 !important;
        @include transition(max-height .33s ease-out);
        padding: 0;
        overflow: hidden;
        border: none;

        body.menu-open &{
            max-height: 500px !important;
        }
    }

    .navbar-nav{
        .navbar-social{}
    }
    .navbar-nav.navbar-right{
        text-align: right;
        margin: 10px 0;
        border-bottom: solid 1px #f1f1f1;

        .navbar-social{
            float: left;
        }

        > li{
            display: inline-block;
            vertical-align: top;
        }
    }

}