RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

RewriteCond %{HTTP_HOST} ^(www\.)?estilocarioca.com.br$
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?estilocarioca.com.br [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

#IndexIgnore *.wmv *.jpg *.gif *.swf *.png

