
.cart{


    .tb-cart{
        width: 100%;
        margin: 23px 20px 0;

        tr,td{
            vertical-align: top;
        }

        thead{
            th{
                color: #888A8F;
                font-size: 12px;
                font-weight: normal;
                text-align: center;
                height: 22px;
                padding-top: 3px;
                vertical-align: top;

                &.item{
                    text-align: left;
                }
                &.price {
                    text-align: left;
                }
                &.total {
                    text-align: right;
                    padding-right: 16px;
                }
            }
        }

        tbody{

            td{
                box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
                padding-top: 17px;
                color: #383d48;

                &.item{
                    padding-top: 0;
                    height: 130px;
                    padding-left: 146px;
                    font-size: 13px;
                }

                &.total {
                    text-align: right;
                    padding-right: 16px;
                }
                &.qty {
                    padding-top: 15px;
                    width: 54px;
                    text-align: center;
                }
                &.price {
                    width: 67px;
                    text-align: left;
                    padding-top: 18px;
                }
            }
        }

        .item{

            .relative{
                position: relative;
                min-height: 81px;
                padding: 17px 0 56px;
                max-width: 260px;
            }
        }

        .figure{
            display: block;
            color: #383d48;

            img{
                position: absolute;
                top: -1%;
                left: -1px;
                width: 131px;
                height: auto;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
            }

            .figure-img{
                position: absolute;
                top: 0;
                left: -146px;
                width: 130px;
                height: 100%;
                overflow: hidden;
                background-color: #f0f0f0;
            }

        }

        .detail{
            em{
                display: block;
                font-size: 12px;
                line-height: 23px;
                font-style: normal;

                &:fist-child{
                    margin-top: -4px;
                }
            }
            small{
                color: #91969c;
                font-size: 12px;
            }
            .embo-select{
                width: 130px;
                font-size: 12px;
                margin-top: -3px;
                margin-left: 4px;
            }
        }
        .figcaption{
            display: block;
            color: #383d48;
            padding-bottom: 8px;
        }
    }

    .gift-option {
        position: relative;
        box-shadow: inset 0 0 0 1px #e1e1e3;
        margin: 0 20px 10px;
        line-height: 18px;
        color: #91969c;

        .relative {
            padding: 12px 12px 12px 50px;
        }

        .gift {
            position: absolute;
            top: 18px;
            left: 18px;
            background-position: -34px -158px;
        }
    }
}